<footer class="text-gray-600">
    <div class="absolute bottom-0 left-0 w-full md:w-[calc(100%-.5rem)]">
        <p class="px-3 pb-3 pt-2 text-center text-xs md:px-4 md:pb-6 md:pt-3">
            <a target="_blank" rel="noopener" href="https://sswellington.github.io/" aria-label="sswellington" role="link">
                SOUBE vAlpha © 2018 - <span id="currentDate"></span> sswellington 
            </a>
        </p>
    </div>
</footer>


<script type="text/javascript">
    var currentDate = new Date().getFullYear();
    document.getElementById("currentDate").innerHTML = currentDate;
</script>
