<section class="container">
    <a href="#" onclick="history.back();" class="text-3xl flex">
        <span class="material-symbols-rounded font-bold text-4xl">
            arrow_back
        </span>
        @ViewData["Title"]
    </a>
</section>
