@{
    ViewData["Title"] = "Home";
}

<section class="container">
    <h1 class="text-center font-bold text-4xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
        Simulador Online Brasileiro Educacional
    </h1>
</section>

<article>
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
            <div class="mx-auto max-w-lg text-center lg:mx-0 ltr:lg:text-left rtl:lg:text-right">
                <h2 class="text-3xl font-bold sm:text-4xl">Find your career path</h2>

                <p class="mt-4 text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero
                    aliquid sint distinctio iure ipsum cupiditate? Quis, odit assumenda?
                    Deleniti quasi inventore, libero reiciendis minima aliquid tempora.
                    Obcaecati, autem.
                </p>

                <a href="#"
                   class="mt-8 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400">
                    Get Started Today
                </a>
            </div>

            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            science
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Ciências da Natureza</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Biologia, Química e Física
                    </p>
                </a>

                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            conditions
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Ciências Humanas</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        História, Geografia, Filosofia e Sociologia
                    </p>
                </a>

                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            translate
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Linguagens</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Português, Literatura, Língua Estrangeira
                    </p>
                </a>

                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            calculate
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Matemática</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Matemática e Raciocínio Lógico Matemático
                    </p>
                </a>

                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            computer
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Tecnológia da Informação</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Lorem ipsum dolor sit amet consectetur.
                    </p>
                </a>

                <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   href="/discipline">
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <span class="material-symbols-rounded">
                            gavel
                        </span>
                    </span>

                    <h2 class="mt-2 font-bold">Direito</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Lorem ipsum dolor sit amet consectetur.
                    </p>
                </a>
            </div>
        </div>
    </div>
</article>
